<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RegFromMailAddress" value="info.rajivdatta@gmail.com"/>
    <add key="RegPassword" value="Rajiv@123"/>

    <add key="ToEmailID" value="rajivdatta92@gmail.com"/>
    <add key="ToEmailPassword" value="ramandeep123"/>
   
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="UseDefaultCredentials" value="true"/>
    <add key="EnableSsl" value="true"/>
    <add key="BuyerPageId" value="25"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="Constr" connectionString="Data Source=localhost;Initial Catalog=HomeLife;User ID=sa;Password=!nd!@123"/>
    <add name="AdminConStr" connectionString="Data Source=localhost;Initial Catalog=RealtorBrickAdmin;User ID=sa;Password=!nd!@123"/>
    <add name="ServiceDataBase" connectionString="Data Source=localhost;Initial Catalog=MLSDatanew;User ID=sa;Password=!nd!@123"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Error_404.aspx"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MLSDataWebServiceSoap" maxReceivedMessageSize="209715227" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8060/MLSDataWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MLSDataWebServiceSoap"
        contract="Property1.MLSDataWebServiceSoap" name="MLSDataWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <!--<security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="home.aspx"/>
        <add value="ViewPanics.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="index.php"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>